@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,300&display=swap');

body {
    font-family: "Roboto", Verdana, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header,
.hero,
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}


.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 10rem 0rem 10rem;
}

.logo {
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
    margin: 0;
}

.links {
    display: flex;
    gap: 2rem;
}

a,
.weaker-text {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    padding: 6rem 10rem;
}

.hero-text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    gap: 0.6rem;
}

.img {
    display: flex;
    align-items: center;
    width: 500px;
    max-width: 50%;
    margin: 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

.hero-text button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 600;
    border-radius: 8px;
    padding: 8px 36px;
    border: none;
    font-size: 16px;
}

.information {
    display: flex;
    flex: auto;
    flex-direction: column;
    padding: 0rem 10rem 0rem 10rem;
    justify-content: center;
    align-items: center;
}

h2 {
    font-size: 36px;
    margin: 0;
    height: 6rem;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    text-align: center;
}

.information .images {
    display: flex;
    gap: 2.6rem;
    flex-wrap: wrap;
    padding-bottom: 6rem;
    justify-content: center;
    align-items: center;
}

.images div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.images img {
    display: flex;
    border-style: solid;
    border-width: 5px;
    border-radius: 12px;
    border-color: #3882F6;
    flex: auto;
    flex-wrap: wrap;
    min-width: 150px;
    min-height: 150px;
}

.images p {
    text-align: center;
    box-sizing: border-box;
    max-width: 150px;
    height: 4rem;
    margin: 0;
    padding: 1rem 0;
    color: #313239e1;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    padding: 6rem 17rem 6rem 17rem;
    flex-direction: column;
    display: flex;
    justify-content: center;
}

.quote-text {
    margin: 0;
}

.quote-author {
    font-size: 24px;
    margin: 0;
    font-weight: 600;
    font-style: normal;
    text-align: end;
    box-sizing: border-box;
    margin-right: 2rem;
    margin-top: 1rem;

}

.call-to-action {
    background-color: #3882F6;
    margin: 6rem 10rem;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 6rem;
}

.call-to-action button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-weight: 600;
    border-radius: 8px;
    padding: 8px 36px;
    border: solid;
    font-size: 16px;
    height: min-content;

}

.footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
}